.user-profile {
  height: 100vh;

  .user-profile-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  .user-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .user-socials {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

